
@{
    ViewBag.Title = "Homepage";
}

<h2>Homepage To Receive Food</h2>

<h2>
    <a href="@Url.Action("RecievedFood", "Distribute")" class="btn btn-primary"><i class="fas fa-plus"></i>Recieve Food</a>
</h2>

